.body2{
    position: absolute;
    width: 743px;
    height: 778px;
    left: 611px;
    top: 160px;
    
    background: #fff;
    box-shadow: 0px 0px 20px rgba(116, 188, 82, 0.28);
    border-radius: 20px;
    
}

.z2{
   
width: 661px;
height: 81px;
background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(116, 188, 82, 0.28);
border-radius: 20px;
}

.z3{
    position: absolute;
    width: 661px;
    height: 81px;
    left: 37px;
    top: 193px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(116, 188, 82, 0.28);
    border-radius: 20px;
}

.z4{
    
    width: 661px;
    height: 81px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(116, 188, 82, 0.28);
    border-radius: 20px;
}

.z5{
    position: absolute;
    width: 661px;
    height: 81px;
    left: 37px;
    top: 407px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(116, 188, 82, 0.28);
    border-radius: 20px;
}

.z6{
    position: absolute;
    width: 661px;
    height: 81px;
    left: 37px;
    top: 514px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(116, 188, 82, 0.28);
    border-radius: 20px;
}


.x5{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 28px;
gap: 90px;

position: absolute;
width: 133px;
height: 44px;
left: 305px;
top: 635px;

background: #000000;
border-radius: 100px;
color: aliceblue;
}

.x1{
    

width: 638px;
height: 39px;
margin: 15px;
font-family: 'Times New Roman', Times, serif;
font-weight: 300;
font-size: 23px;
line-height: 24px;

display: flex;
align-items: center;

color: #000000;
}



.usercontainer{
    height: 80px;
    width: 92%;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(116, 188, 82, 0.28);
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 30px;
}
.x4{
    width: 20%;
    overflow: hidden;
}
.x5{
    width: 15%;
}